*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tomorrow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #14172B;
  color: #ECF0FF;
}

section{
  padding: 0rem 2rem;
}

.section-heading{
  display: flex;
  align-items: center;
  margin: 2rem 0rem;
}

.section-heading-icon{
  
}

.section-heading-text{
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.asset-card{
  width: 20rem;
  text-align: center;
  background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, rgba(46, 49, 73, 0.1) 107.43%);
  backdrop-filter: blur(50px);
  padding: 2rem;
  padding-top: 5rem;
  border-radius: 15px;
  margin-top: 10rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.asset-card::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;  
  box-sizing:border-box;
}

.asset-card::after{
  content: '';
  position: absolute;
  background-color: #14172B;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  top: -5px;
  left:50%;
  transform:translate(-50%,-50%);
}

.asset-icon{
  position: absolute;
  width: 105px;
  height: 105px;
  border-radius: 100%;
  top: -5px;
  left:50%;
  z-index: 2;
  transform:translate(-50%,-50%);
  background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, rgba(237, 240, 244, 0.1) 100%);
  backdrop-filter: blur(50px);
}

.asset-icon-image{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 65px;
}

.asset-card .label{
  color: #737BAE;
  font-weight: 600;
  margin: 0.2rem 0rem;
}



.amount-container{
  font-weight: 600;
  font-size: 1.5rem;
  background: #14172B;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  border-image:  linear-gradient(#ECF0FF, #3B3F57
  ) 10;
  border-width: 1px;
  border-style: solid;
  border-radius: 25px;
  border-bottom: none;
  border-left: none;
}

.change-indicator{
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.pair-container{
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.pair{
  display: inline-block;
  margin: 0 0.2rem;
}

.pair img{
  display: inline-block;
  margin: 0 0.3rem;
}